#chapter1
  h3.media-title
    text-align: right

  // explicit height for nv.d3 graph
  #multigraph svg
    height: 300px

  // blockquote at the bottom next to the video
  p.blockquote
    font-size: 1.3em
    font-style: italic
    padding-left: 0.5em
    margin-bottom: 0
