// Chapter heading position varies
#chapter1 .chapter-heading-text
  bottom: 15%
#chapter2 .chapter-heading-text
  bottom: 10%
#chapter3 .chapter-heading-text
  bottom: 20%
#chapter4 .chapter-heading-text
  bottom: 10%
#chapter5 .chapter-heading-text
  bottom: 10%
#chapter6 .chapter-heading-text
  bottom: 10%

// hide controls and timeline on background video
.fp-ui
  display: none
.flowplayer.is_paused
  background: none

#chapter0
  div.title
    left: 0px
    position: absolute
    top: 12%
    z-index: 100

  img.play
    padding-left: 190px
  img.skip
    padding-left: 100px


#chapter1
  // explicit height for nv.d3 graph
  #multigraph svg
    height: 300px

#chapter3
  #before_after
    margin: 0 auto
    height: 591px
  #move_on_me
    height: 591px
    margin: 0 auto
    width: 960px
    background: #000

#chapter3,
#chapter6
  ul.bios
    li
      display: inline
      float: left
      margin: 0
      height: 174px
    img
      // 12px of padding on 360px wide containing div
      width: 174px
    a
      position: relative
      &:after
        bottom: 0
        color: white
        content: '+'
        font-size: 2em
        right: 10px
        position: absolute
      // broken sigh
        &:hover
          img
            -webkit-filter: brightness(0.1)
          &:after
            bottom: -12px
            font-size: 3em
            right: 5px

#chapter3,
#chapter6
  // customize display of zurb clearing
  ul.clearing-thumbs
    li
      margin: 0
      height: 174px
    img
      // 12px of padding on 360px wide containing div
      width: 174px

// black background on chapter7
html
  height: 100%
body.chapter7
  background: #000
  height: 100%

.flex-video, iframe, .shadow
  box-shadow: 1px 1px 8px rgba(90, 90, 90, 0.4)
  &:hover
    box-shadow: 2px 2px 10px rgba(98, 158, 205, 0.6)
iframe.no-shadow
  box-shadow: none
