// meh on using this
.pad-top-1
  padding-top: 1em
.pad-top-2
  padding-top: 2em

// add margin to tooltips to give space on right, artifact of slim usage
.has-tip
  margin-right: 3px

span.tooltip
  font-family: adobe-garamond-pro, sans-serif
  font-variant: small-caps
  max-width: 700px
  padding: 0.5em 1em

.orbit-container .orbit-slides-container .orbit-caption
  position: relative
  color: #333

.orbit-bullets li
  border: none

.chapter-content
  font-family: adobe-garamond-pro, sans-serif
  // pad bottom to account for navigation bar
  padding: 3.5em 0 4em 0

  // dropcap on first letter of first paragraph
  div.row:first-child p:first-child:first-letter
    float: left
    font-size: 3.2em
    line-height: 0.6em
    padding: 10px
    text-transform: uppercase

  // customize modal links
  a.modal
    background: #e4e4e4
    border-radius: 10px 10px 10px 10px
    color: $content-color
    padding: 0 0.5em
    transition: background-color 1s ease
    //white-space: nowrap
    &:after
      content: ' +'
    &:hover
      background: #629ecd
    &.block
      display: block
      border-radius: 0 0 0 0
      padding: 1em 1em 4em 1em
      font-variant: small-caps

  // blockquote at the bottom next to the video
  blockquote
    border-left: none
    color: $content-color
    font-size: 1.5em
    font-style: italic
    padding: 0
    margin-bottom: 0

  h3.media-title
    color: #4d4d4d
    font-size: 1.3em
    font-weight: normal
    text-align: right
    text-transform: uppercase

  // customize line breaks
  hr
    border-bottom: 1px solid #e3e3e3
    border-top: 1px solid #818181
    margin:
      bottom: 1em
      right: 2.5em
      left: 2.5em
    &.right-5
      margin-right: 5em
    &.left-5
      margin-left: 5em

  p
    color: $content-color

