@import 'normalize'
@import 'foundation'

.chapter-heading
  position: relative

// img in the heading will determine the box
.chapter-heading-text
  position: absolute
  top: 0
  width: 100%

.chapter-content
  font-family: serif
  padding-top: 3em

  p
    color: #444
