.reveal-modal
  p
    font-family: adobe-garamond-pro, sans-serif
  h3
    background: #ededed
    border-radius: 15px 15px 15px 15px
    color: #3d3d3d
    font-size: 1.4em
    font-weight: normal
    margin-bottom: 1em
    padding-left: 0.5em
    &:before
      content: '+ '
